certifi==2018.1.18
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.2.1
ez-setup==0.9
Flask==0.12.2
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.2
mido==1.2.8
nbformat==4.4.0
numpy==1.14.0
opencv-python==3.4.0.12
plotly==2.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
terminalplot==0.2.6
traitlets==4.3.2
urllib3==1.24.2
Werkzeug==0.14.1
